* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1536px;
  margin-inline: auto;

  @media (max-width: 1536px) {
    padding-inline: 4rem;
  }

  @media (max-width: 992px) {
    padding-inline: 2rem;
  }
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000606;
  color: white;
}

p {
  color: #ebebeb;
}

h1 {
  font-family: "Poppins", sans-serif;
}

/* navbar starts here */

.navbar-container {
  background: linear-gradient(
    92.56deg,
    rgba(10, 43, 51, 0) 17.93%,
    rgba(46, 89, 100, 0.3) 49.19%,
    rgba(10, 43, 51, 0) 72.26%
  );
  backdrop-filter: blur(8px);
  border-bottom: 0.67px solid #07a1c399;
  padding: 1rem;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 45px;
  }

  button {
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    color: black;
    background: linear-gradient(186.89deg, #06a1c2 34.49%, #00ad8e 94.29%);
    border: none;
    border-radius: 10px;
    padding: 4px 1.5rem;
    text-transform: capitalize;

    @media (max-width: 576px) {
      font-size: 18px;
      padding: 3px 1rem;
    }
  }
}

.nav-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  @media (max-width: 576px) {
    gap: 6px;
  }
}

/* navbar ends here */

/* hero section start from here */

.hero-bg {
  background-image: url(/bct-hero-bg.png);
  min-height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper {
  margin-block: 5rem;

  h1 {
    font-size: 85px;
    font-weight: 600;
    line-height: 115px;
    text-align: center;
    padding-inline: 10px;
    text-wrap: balance;

    span {
      background: -webkit-linear-gradient(
        200.69deg,
        #06a1c2 62%,
        #00ad8e 108.33%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @media (max-width: 768px) {
      font-size: 65px;
      line-height: 90px;
      flex-wrap: wrap-reverse;
    }

    @media (max-width: 576px) {
      font-size: 40px;
      line-height: normal;
    }
  }

  p {
    font-size: 21px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin-top: 1rem;
    color: #eeeeeede;
    padding-inline: 10px;
    text-wrap: balance;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 30px;
      padding-top: 1rem;
    }

    @media (max-width: 576px) {
      font-size: 15px;
      line-height: normal;
    }
  }
}

.hero-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media (max-width: 576px) {
    gap: 1rem;
  }

  button {
    cursor: pointer;
  }

  button:nth-of-type(1) {
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding: 2px 1.5rem;
    border: none;
    margin-top: 4rem;

    border-radius: 10px;
    background: linear-gradient(186.89deg, #06a1c2 34.49%, #00ad8e 94.29%);
  }

  button:nth-of-type(2) {
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding: 2px 1.5rem;
    border: 0.67px solid #30d0f3;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    margin-top: 4rem;
  }
}
/* hero section ends here */

/* feature section starts from here */

.main-header {
  background-image: url(/main-headerbg.png);
  background-position: left;
  background-repeat: no-repeat;
  font-size: 21px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0.36em;
  padding-left: 1rem;
  margin-bottom: 4rem;
}

.feature-main-div {
  background-image: url("./featuresBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 8rem;
}

.feature-cards-div {
  background-color: #000606;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  @media (max-width: 1400px) {
    flex-wrap: wrap;
  }

  .feature-cards {
    gap: 1rem;
    padding-inline: 2rem;
    background: linear-gradient(
      92.56deg,
      rgba(10, 43, 51, 0.3) 17.93%,
      rgba(46, 89, 100, 0.3) 49.19%,
      rgba(10, 43, 51, 0.243) 72.26%
    );
    border-bottom: 4.55px solid #2f2f2f;
    border-radius: 4.55px;
    min-height: 378.93px;
    flex: 1;

    @media (max-width: 1400px) {
      min-width: 300px;
    }

    @media (max-width: 576px) {
      padding-inline: 1rem;
      min-height: 300px;
      min-width: 200px;

      @media (max-width: 576px) {
        min-height: 250px;
      }
    }

    .feature-box {
      display: flex;
      align-items: center;
      padding-block: 2rem;

      @media (max-width: 576px) {
        padding-block: 1rem;
      }
    }

    img {
      @media (max-width: 576px) {
        width: 90px;
        height: 90px;
      }
    }

    h2 {
      font-size: 38px;
      font-weight: 600;
      line-height: 47px;

      @media (max-width: 1400px) {
        font-size: 30px;
      }

      @media (max-width: 576px) {
        font-size: 24px;
      }
    }

    p {
      text-wrap: balance;
      font-size: 20px;
      font-weight: 400;
      line-height: 37px;
      text-align: center;
      color: #eeeeee;

      @media (max-width: 1400px) {
        font-size: 18px;
      }

      @media (max-width: 576px) {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}

/* feature section ends here */

/* burn section starts from here */

.burn-main-div {
  position: relative;
  margin-bottom: 2rem;

  .burn-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}

.burn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: start;
  }

  div {
    flex: 1;
  }

  .burn-header {
    margin: 0;
  }

  h1 {
    font-size: 55px;
    font-weight: 600;
    line-height: 113px;

    @media (max-width: 1400px) {
      font-size: 40px;
      line-height: 90px;
    }
  }

  p {
    font-size: 36px;
    font-weight: 400;
    line-height: 58px;
    text-wrap: balance;

    @media (max-width: 1400px) {
      font-size: 24px;
      line-height: 40px;
    }
  }
}

.burn-image {
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;

  justify-content: center;
  align-items: center;
  img {
    max-width: 314px;

    @media (max-width: 1400px) {
      width: 200px;
    }
  }
}
/* burn section ends here */

/* mining section starts here */

.h2-main-header {
  margin-bottom: 0rem;
}

.h1-main-header {
  font-size: 55px;
  font-weight: 600;
  line-height: 113px;
  margin-bottom: 4rem;

  @media (max-width: 768px) {
    font-size: 40px;
    margin-bottom: 2rem;
  }

  @media (max-width: 576px) {
    font-size: 28px;
    margin-bottom: 2rem;
  }
}

.mining-bg {
  background-image: url(/mining-circle-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mining-backgroun {
  background-color: #000606;
  border-radius: 12px;
}

.mining-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  @media (max-width: 576px) {
    gap: 2rem;
  }
}
.mining-container {
  border-radius: 12px;

  padding: 1rem;
  background: linear-gradient(
    92.56deg,
    rgba(10, 43, 51, 0.3) 17.93%,
    rgba(46, 89, 100, 0.3) 49.19%,
    rgba(10, 43, 51, 0.243) 72.26%
  );

  @media (max-width: 576px) {
    max-width: 100%;
  }

  img {
    @media (max-width: 576px) {
      max-width: 100%;
    }
  }

  .bronze-h2-div {
    background: -webkit-linear-gradient(
      90.64deg,
      #8e491f 31.87%,
      #d27343 50.57%,
      #914c22 68.71%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
  }
}
.bronze-main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;

    @media (max-width: 576px) {
      font-size: 10px;
    }
  }

  span {
    color: #30d0f3;
  }

  div:nth-of-type(2) {
    text-align: right;
  }
}

.silver-h2-div {
  background: -webkit-linear-gradient(
    90deg,
    #b1b2b4 32.27%,
    #fdfdfd 48.64%,
    #c8cacb 62.92%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold-h2-div {
  background: -webkit-linear-gradient(
    90deg,
    #ffd803 31.87%,
    #fdfb4b 50.57%,
    #ffd600 68.71%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.platinum-h2-div {
  background: -webkit-linear-gradient(
    90deg,
    #797b7c 32.27%,
    #dadada 48.64%,
    #7b7d7e 62.92%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* mining section ends here */

/* journey section starts from here */

.journey-congtainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000px;
}

.glow-div {
  width: 674.51px;
  height: 674.51px;
  border-radius: 100%;
  background-color: rgba(48, 208, 243, 0.2);
  position: absolute;
  filter: blur(140px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 768px) {
    width: 400px;
    height: 400px;
    background-color: rgba(48, 208, 243, 0.5);
  }

  @media (max-width: 576px) {
    width: 300px;
    height: 300px;
    background-color: rgba(48, 208, 243, 0.8);
  }
}

.journey-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  @media (max-width: 576px) {
    gap: 2rem;
  }

  div {
    flex: 1;
  }
}

.journey-verticle {
  padding-right: 4rem;
}

.journey-box-one {
  position: relative;
  img {
    @media (max-width: 1400px) {
      width: 100%;
    }

    @media (max-width: 992px) {
      transform: rotate(90deg);
      max-width: 500px;
      min-width: 250px;
    }
  }
}

.journey-box-two {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 26px;
    font-weight: 600;

    @media (max-width: 1500px) {
      font-size: 22px;
    }

    @media (max-width: 1200px) {
      font-size: 16px;
    }

    @media (max-width: 992px) {
      text-align: center;
      text-wrap: balance;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;

    @media (max-width: 1500px) {
      font-size: 12px;
    }

    @media (max-width: 1200px) {
      font-size: 10px;
    }

    @media (max-width: 992px) {
      padding-bottom: 2rem;
      text-align: center;
      text-wrap: balance;
    }

    @media (max-width: 576px) {
      padding-bottom: 10px;
      text-align: center;
      text-wrap: balance;
    }
  }
}
/* journey section ends here */

/* pool section starts from here */

.kaspa-container {
  background-image: url(/pool-BG.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 500px;
  margin-bottom: 4rem;
  @media (max-width: 1650px) {
    background-size: 350px;
  }

  @media (max-width: 576px) {
    background-size: 200px;
  }
}

.pool-main-header {
  margin-bottom: 0;
}

.kaspa-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    92.56deg,
    rgba(10, 43, 51, 0.3) 17.93%,
    rgba(46, 89, 100, 0.3) 49.19%,
    rgba(10, 43, 51, 0.243) 72.26%
  );
  min-width: 330px;
  min-height: 260px;
  border-bottom: 4.55px solid #2f2f2f;
  border-radius: 12px;

  @media (max-width: 576px) {
    min-width: 250px;
  }

  span {
    color: #30d0f3;
  }
}

.kaspa-wrapper {
  display: grid;
  place-items: center;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @media (max-width: 576px) {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  h4 {
    font-size: 36px;
    font-weight: 600;
    line-height: 47px;
    text-align: center;

    @media (max-width: 576px) {
      font-size: 30px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }
}
/* pool section ends here */

/* blocks section starts from here */

.kaspa-blocks {
  margin-bottom: 4rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  place-items: center;

  @media (max-width: 576px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.kaspa-block-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  background: linear-gradient(
    92.56deg,
    rgba(10, 43, 51, 0.3) 17.93%,
    rgba(46, 89, 100, 0.3) 49.19%,
    rgba(10, 43, 51, 0.243) 72.26%
  );
  border-radius: 12.5px;
  border-bottom: 4.55px solid #2f2f2f;
  width: 400px;
  min-height: 266px;

  @media (max-width: 576px) {
    width: 250px;
  }

  @media (max-width: 400px) {
    width: 200px;
  }

  div:nth-of-type(2) {
    text-align: right;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #eeeeee;
    padding-block: 8px;

    @media (max-width: 576px) {
      font-size: 10px;
      font-weight: 600;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    padding-block: 8px;

    @media (max-width: 576px) {
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.kaspa-block-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;

  background: linear-gradient(
    92.56deg,
    rgba(10, 43, 51, 0.3) 17.93%,
    rgba(46, 89, 100, 0.3) 49.19%,
    rgba(10, 43, 51, 0.243) 72.26%
  );
  border-radius: 12.5px;
  border-bottom: 4.55px solid #2f2f2f;
  width: 400px;
  min-height: 266px;

  @media (max-width: 576px) {
    width: 250px;
  }

  @media (max-width: 400px) {
    width: 200px;
  }

  h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    padding-block: 2rem;

    @media (max-width: 576px) {
      font-size: 12px;
      font-weight: 600;
      text-wrap: balance;
    }
  }

  span {
    @media (max-width: 576px) {
      display: block;
    }
  }
}

.kaspa-block-flex {
  display: flex;
  justify-content: left;
  gap: 1rem;
  align-items: center;
}

/* blocks section ends here  */

/* lastest blocks section starts from here */

.latest-wrapper {
  height: 697px;
  margin-bottom: 8rem;
  background: linear-gradient(
    92.56deg,
    rgba(10, 43, 51, 0.3) 17.93%,
    rgba(46, 89, 100, 0.3) 49.19%,
    rgba(10, 43, 51, 0.243) 72.26%
  );
  padding: 2rem;

  @media (max-width: 576px) {
    padding: 1rem;
  }

  div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-block: 1rem 2rem;

    @media (max-width: 576px) {
      padding-block: 1rem;
    }

    h1 {
      font-family: Inter;
      font-size: 30px;
      font-weight: 500;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;

      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
  }
}

.ellips-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 1rem;
  min-width: 1130px;

  @media (max-width: 576px) {
    margin-bottom: 2rem;
  }

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    width: 200px;

    @media (max-width: 576px) {
      font-size: 18px;
      width: 190px;
    }
  }

  h2:nth-of-type(2) {
    @media (max-width: 576px) {
      padding-left: 1rem;
      width: 150px;
    }
  }

  h2:nth-of-type(4) {
    width: 100%;
    flex: 1;
  }
}

.table-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a32384d;
  margin-block: 2rem;
  min-width: 1130px;

  @media (max-width: 576px) {
    margin-block: 10px;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    max-width: 200px;
    white-space: nowrap;
    padding-right: 5rem;

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  span {
    color: #30d0f3;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    width: 100%;
    white-space: nowrap;

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }
}

.table-div-two {
  display: flex;
  min-width: 1130px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    max-width: 200px;
    white-space: nowrap;
    padding-right: 5rem;

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  span {
    color: #30d0f3;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    width: 100%;
    white-space: nowrap;

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }
}

.table-wrapper {
  max-height: 600px;
  overflow: auto;
}

.table-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #1a3238;
  border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #07a1c3;
  border-radius: 10px;
}
/* lastest blocks section ends here */
